
    {{> head }}

    {{> navbar }}


    <div class="row">
        
        <div class="col-6">
            <h1>
                Nova pàgina ABOUT, amb imatges de barrancs i tot!!!
            </h1>
        </div>
        
        
        <div class="col-6">
            <img src="assets/img/Barranco Ordiceto.jpg" class="img-thumbnail">
        </div>

    </div>


    {{> footer }}
